* {
  box-sizing: border-box;
}
h1 {
    text-align: center;
}
ul {
    list-style: none; 
    margin: 20px auto; 
    width: 200px; 
    border: 1px solid #ccc; 
    background-color: lightgray;
  }
  ul li {
    font-weight: bold; 
    color: green;
  }